/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/* Nav bar */
nav{
	padding-right: 30px;
	margin-top: 35px;
	font-size: 14px;
	padding-left: 45px;
	margin-bottom: 35px;
}
/*Navbar links*/
nav a{
	display: inline-block;
	text-decoration: none;
	color: grey;
	margin-right: 120px;
	font-size: 1.2em;
}
/*Nav logo*/
.logo{
	position: relative;
	bottom: 58px;
	right: 40px;
	float: right;
	overflow: hidden;
}

button{
	position: relative;
	top: 440px;
	right: 420px;
	font-weight: bold;
	font-size: 1.1em;
	height: 40px;
	width: 240px;
	background: white;
	border: black 2px solid;
}

button a{
	text-decoration: none;
	color: black;
}

/*Code snippet image*/
.first-img{
	position: relative;
	left: 60px;
	padding-top: 60px;
	padding-right: 85px;

}

/*header*/
.heading{
	font-family: 'Bangers', cursive;
	font-size: 113px;
	float: left;
	padding-left: 150px;
	margin-left: 150px;
	margin-top: 85px;
}
 /*columns for the first two section*/
.container{
	column-count: 2;
	column-gap: 40px;
	height: 150px;
	width: 80%;
	margin-top: 150px;
	padding-top: 40px;
	padding-left: 50px;
	margin-bottom: 75px;
	margin-left: 150px;
	font-size: 1.1em;
	border-top: 2px black solid;
}

/*middle code snippet*/

.photo{
	margin-left: 180px;
	margin-right: 180px;
}

.middle-img{
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

.column3{
	column-count: 3;
	column-gap: 80px;
	width: 80%;
	margin-top: 50px;
	margin-left: 140px;
	margin-bottom: 60px;
	padding-bottom: 75px;
	font-size: 1.3em;
	border-bottom: 2px black solid;


}

.contact{
	margin-top: 30px;
	padding-left: 150px;
}

address{
	line-height: 2;
	font-size: 1.1em;
}

footer{
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 1.1em;
	text-align: center;
}

@media(max-width: 800px){

	body{
		margin: 0 auto;
	}

	nav{
		max-width: 200px;
		display: inline-flex;
	}

	nav a{
		margin-right: 5rem;
		margin-top: 60px;
	}

	.logo{
		display: relative;
		top: 30px;
		right: 250px;
	}

	.container{
		column-count: 2;
		column-gap:10px;
		width: 80%;
		height: 15rem;
	}

	.first-img{
		display: none;
	}

	.header{
		text-align: center;
	}

	.heading{
		font-size: 4.5rem;
	}

	button{
		display: relative;
		top: 50px;
		left: 55px;
		border-radius: 5%;
	}

	.container{
		margin-right: -40px;
		column-count: 2;
		column-gap: 15px;
	}

	.middle-img{
		width: 138%;
		margin-right: 50px;
	}

	.column3{
		display: flex;
		flex-direction: row;
	}

	.column3 div{
		margin-right: 15px;
	}

	footer{
		display: inline;
		text-align: center;
		margin-left: 60rem;
	}

}

@media(max-width: 500px){
	body{
		margin: 0 auto;
	}

	nav{
		display: flex;
		flex-direction: column;
		margin-top: 60px;
		margin-left: 220px;
	}

	nav a{
		font-size: 1.5rem;
		border-bottom: 2px solid grey;
		margin-bottom: 15px;
		margin-top: 15px;
		margin-right: 20px;
		text-align: center;
	}

	.logo{
		position: relative;
		top: 0rem;
		left: -3rem;
	}

	.header{
		position: relative;
		margin-top: 100px;
		margin-right: 100px;
		right: 100px;
		bottom: 100px;
	}

     button{
		display: relative;
		top: 70px;
		left: 13rem;
		background: white;
		border: 1.5px black  solid;
		border-radius: 6%;
		width: 45%;
	}

	.heading{
		font-size: 3.5rem;
	}

	.first-img{
		display: none;
	}

	.container{
		display: flex;
		flex-direction: column;
	}

	.container div{
		margin-top: 30px;
		margin-right: 65px;
		margin-bottom: 100px;
	}

	.photo{
		width: 80%;
		position: relative;
		top: 220px;
		right: 40px;
	}

	.column3{
		display: flex;
		flex-direction: column;
		margin-top: 200px;
	}

	.column3 div{
		margin-top: 50px;
		margin-bottom: 20px
	}
}

